###### The plan for this notebook is as follows:
    
1. Open the player data and thier stats using Pandas into Dataframe and merge them to respective units
2. Clean up and store the merged data
3. Do some EDA using data visualization and then feature selection and extraction for better display
4. Try out different clustering algorithms
5. Visualize the results
6. Do some accuracy analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt

### Open the player data and thier stats using Pandas into Dataframe and merge them to respective units

In [31]:
players_data_csv = 'data/Players.csv'
players_stats_csv = 'data/Seasons_Stats.csv'
merged_data_csv = 'data/NBA_Stats.csv'

players_df = pd.read_csv(players_data_csv)
stats_df = pd.read_csv(players_stats_csv)

print("Total Number of Unique Players:",len(players_df))
print("Different Player Attributes:")
print(players_df.columns)
print("Different Player stats Attributes:")
print(stats_df.columns)
stats_df.head(10)

Total Number of Unique Players: 3922
Different Player Attributes:
Index(['Unnamed: 0', 'Player', 'height', 'weight', 'collage', 'born',
       'birth_city', 'birth_state'],
      dtype='object')
Different Player stats Attributes:
Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0

In [33]:
#Interested Columns
player_columns = ['Player_Season','Player', 'height', 'weight']
stats_columns = ['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', '', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
interested_columns = player_columns + stats_columns

### Clean up and store the merged data

In [96]:
merged_df = pd.merge(players_df, stats_df, on='Player', how='inner')
min_games = 20
print("Number of player season combinations:",len(merged_df))
#Adding Season Index for players with multiple seasons
player_list = merged_df.Player.values.tolist()
players_seasons = list(map(lambda x: str(x[1]) + str(player_list[:x[0]].count(x[1]) + 1) if player_list.count(x[1]) > 1 else x[1], enumerate(mylist)))
merged_df['Player_Season'] = players_seasons
#Filter by minimum games and save
merged_df[merged_df['G'] > min_games].to_csv(merged_data_csv)

Number of player season combinations: 24691

### Once you saved initial data frame you can pick up the data from here

In [101]:
player_key = 'Player_Season'
indexed_df = pd.read_csv(merged_data_csv)[interested_columns].set_index(player_key)
indexed_df['PPG'] = indexed_df['PTS']/indexed_df['G']
indexed_df['APG'] = indexed_df['AST']/indexed_df['G']
indexed_df['RPG'] = indexed_df['TRB']/indexed_df['G']
indexed_df.head(5)

,Player,height,weight,Year,Player,Pos,Age,Tm,G,GS,...,TRB,AST,STL,BLK,TOV,PF,PTS,PPG,APG,RPG
Player_Season,,,,,,,,,,,,,,,,,,,,,
Curly Armstrong1,Curly Armstrong,180.0,77.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,...,NaN,176.0,NaN,NaN,NaN,217.0,458.0,7.269841,2.793651,NaN
Curly Armstrong2,Curly Armstrong,180.0,77.0,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,...,89.0,77.0,NaN,NaN,NaN,97.0,202.0,5.315789,2.026316,2.342105
Cliff Barker1,Cliff Barker,188.0,83.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,...,NaN,109.0,NaN,NaN,NaN,99.0,279.0,5.693878,2.224490,NaN
Cliff Barker2,Cliff Barker,188.0,83.0,1951.0,Cliff Barker,SG,30.0,INO,56.0,NaN,...,100.0,115.0,NaN,NaN,NaN,98.0,152.0,2.714286,2.053571,1.785714
Cliff Barker3,Cliff Barker,188.0,83.0,1952.0,Cliff Barker,SG,31.0,INO,44.0,NaN,...,81.0,70.0,NaN,NaN,NaN,56.0,126.0,2.863636,1.590909,1.840909

### EDA, Data Visualization, Feature Selection, Feature Extraction

In [107]:
indexed_df.loc['Dennis Rodman*9']

Player    Dennis Rodman*
height               201
weight                95
Year                1995
Player    Dennis Rodman*
Pos                   PF
Age                   33
Tm                   SAS
G                     49
GS                    26
MP                  1568
PER                 16.6
TS%                0.604
3PAr               0.008
FTr                0.463
ORB%                20.8
DRB%                37.8
TRB%                29.7
AST%                 8.5
STL%                   1
BLK%                   1
TOV%                25.3
USG%                10.9
blanl                NaN
OWS                  2.6
DWS                  3.2
WS                   5.8
WS/48              0.178
blank2               NaN
OBPM                 0.7
DBPM                 3.1
BPM                  3.8
VORP                 2.3
FG                   137
FGA                  240
FG%                0.571
3P                     0
3PA                    2
3P%                    0
2P                   137
2PA                  238
2P%                0.576
eFG%               0.571
FT                    75
FTA                  111
FT%                0.676
ORB                  274
DRB                  549
TRB                  823
AST                   97
STL                   31
BLK                   23
TOV                   98
PF                   159
PTS                  349
PPG              7.12245
APG              1.97959
RPG              16.7959
Name: Dennis Rodman*9, dtype: object

In [109]:
indexed_df['APG'].describe()

count    19907.000000
mean         2.134003
std          1.850117
min          0.000000
25%          0.821429
50%          1.588235
75%          2.850532
max         14.538462
Name: APG, dtype: float64